<a href="https://colab.research.google.com/github/19PA1A0534/07-03-2020/blob/master/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.

# Bias:
Bias is the simplifying assumptions made by the model to make the target function easier to approximate.
it is also known as residual or error.
# variance:
Variance is the amount that the estimate of the target function will change given different training data.

**A good model should have low bias and low variance
**

2.

# Train:
We give some part of data for training to prepare a model.

# Test:
we apply the training data model to predict the test values.

#split:
Dividing the data into training and testing is known as splitting.
splitting can be done by using train_test_split.

#crossvalidation:
cross-validation combines (averages) measures of fitness in prediction to derive a more accurate estimate of model prediction performance.

3.

In [0]:
#importing the librariesDouble
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [13]:
a=pd.read_csv('students_placement_data.csv')#reading the given dataset
a

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
#taking independent variable and dependent variable
x=a['SSC Percentage'].values.reshape(-1,1)
y=a['B.Tech_percentage'].values.reshape(-1,1)

In [0]:
#dividing the data into training and testing
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [16]:
#fitting the training data into linearregression for preparing model
b=LinearRegression()
b.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
b.coef_#prints the slope(m) in linearregression line y=m*x+c

array([[0.61757863]])

In [18]:
b.intercept_#prints the intercept(c) in linearregression line y=m*x+c

array([13.42974149])

In [19]:
c=b.predict(x_test)#predicted values
c

array([[65.36810406],
       [66.12772577],
       [63.96620058],
       [69.32060728],
       [65.92392483],
       [63.96620058],
       [63.24363358],
       [70.65457711],
       [54.80750953],
       [53.14004724],
       [59.13055992],
       [67.77666071],
       [71.27215574],
       [47.8041679 ],
       [64.99755689],
       [65.92392483],
       [67.15908208],
       [67.22083994],
       [64.68876757],
       [58.00039104],
       [66.54150345],
       [54.28874349],
       [57.27782404],
       [61.08210839]])

In [20]:
mean_squared_error(y_test,c)#prints the cost function

92.64283929365602

In [0]:
#taking feature and label
m=a['inter_Diploma_percentage'].values.reshape(-1,1)
n=a['B.Tech_percentage'].values.reshape(-1,1)

In [0]:
#Dividing data into training and testing
x_train,x_test,y_train,y_test=train_test_split(m,n,test_size=0.2)

In [29]:
#preparing a model using LinearRegression algorithm
d=LinearRegression()
d.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
d.coef_#prints the slope

array([[0.72786269]])

In [31]:
d.intercept_#prints the intercept

array([4.86810481])

In [32]:
e=d.predict(x_test)#printing predicted y_test values
e

array([[73.79670167],
       [58.43879888],
       [53.99883647],
       [73.50555659],
       [68.33773148],
       [70.83430051],
       [61.9325398 ],
       [58.00208127],
       [54.28998154],
       [65.28070818],
       [69.21116671],
       [54.21719527],
       [70.37574702],
       [72.12261748],
       [63.24269264],
       [52.39753854],
       [70.30296075],
       [46.1379194 ],
       [65.71742579],
       [68.99280791],
       [70.08460194],
       [62.58761622],
       [62.36925741],
       [70.6668921 ]])

In [35]:
mean_squared_error(y_test,c)#printing the cost function

231.82173108400227